{%  block title %}
<h1>{{ page_title }}</h1>
{% endblock %}
<nav>
    <label><a href="{{ "/" }}">Accueil</a></label>
    <label><a href="{{ "/equipe" }}">Equipe</a></label>
    <label><a href="{{ "/carte" }}">Carte</a></label>
    <label><a href="{{ "/admin" }}">Back office</a></label>
</nav>

