{% extends 'layout/layout.html.twig' %}

{% block title %}Edit Allergen{% endblock %}

{% block body %}

    {{ include('allergen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('allergen_index') }}">back to list</a>

    {{ include('allergen/_delete_form.html.twig') }}
{% endblock %}
