{% extends 'layout/layout.html.twig' %}

{% block title %}New Allergen{% endblock %}

{% block body %}

    {{ include('allergen/_form.html.twig') }}

    <a href="{{ path('allergen_index') }}">back to list</a>
{% endblock %}
