{% extends 'layout/layout.html.twig' %}

{% block title %}Allergen{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ allergen.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ allergen.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('allergen_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('allergen_edit', {'id': allergen.id}) }}">edit</a>

    {{ include('allergen/_delete_form.html.twig') }}
{% endblock %}
