{% extends 'layout/layout.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
