{% extends 'layout/layout.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>
{% endblock %}
