{% extends 'layout/layout.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.image }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
