{% extends 'layout/layout.html.twig' %}

{% block title %}Ajout Allergen{% endblock %}

{% block body %}
    <fieldset>
        <legend>Ajouter un allergen</legend>
        {{ form(form) }}
        <a class="btn btn-danger" href="{{ '/carte' }}">Retour</a>
    </fieldset>


{% endblock %}
