{% extends 'layout/layout.html.twig' %}

{% block title %}Ajout Plat{% endblock %}

{% block body %}

    <fieldset>
        <legend>Ajouter un plat</legend>
        {{ form(form) }}
        <a class="btn btn-danger" href="{{ '/carte' }}">Retour</a>
    </fieldset>


{% endblock %}
