{% extends 'layout/layout.html.twig' %}

{% block title %}Ajout d'un participant{% endblock %}

{% block body %}
    <fieldset>
        {{ form(form) }}
        <a class="btn btn-danger" href="{{ '/equipe' }}">Retour</a>
    </fieldset>


{% endblock %}
