{% extends 'layout/layout.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}

<ul>
    <li>
        <a class="btn btn-primary" href="{{ "/admin/dish" }}">Plat</a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ "/admin/allergen" }}">Allergen</a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ "/admin/category" }}">Category</a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ "/admin/user" }}">User</a>
    </li>
</ul>

{% endblock %}
