{% extends 'layout/layout.html.twig' %}

{% block title %}liste des plats{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <th>Nom</th>
        <th>nombre de plat</th>
        <th>calories</th>
        <th>Allergens</th>
        </thead>
        {% for dish in dishs %}
            <tr>
                <td>
                    {{ dish.name }}
                </td>
                <td>
                    {{ dish.price }}
                </td>
                <td>
                    {{ dish.calories }}
                </td>
                <td>
                    {% for allergen in allergens %}
                        {% if allergen.dish_id == dish.id %}
                            {{ allergen.name }}
                            </br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
        <tr>
            <td colspan="4"><a class="btn btn-danger" href="{{ "/carte" }}">Retour</a></td>
        </tr>
    </table>

{% endblock %}
