{% extends 'layout/layout.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <th>Nom</th>
        <th>nombre de plat</th>
        </thead>
        {% for dish in dishs %}
            <tr>
                <td>
                    <a href="carte/{{ dish.id }}">{{ dish.name }}</a>
                </td>
                <td>
                    {{ dish.nbPlat }}
                </td>
            </tr>

        {% endfor %}

        <tr>
            <td colspan="4"><a class="btn btn-primary" href="{{ "/admin/carte/ajoutPlat" }}">Ajouter un plat</a></td>
        </tr>
        <tr>
            <td colspan="4"><a class="btn btn-primary" href="{{ "/admin/carte/ajoutAllergen" }}">Ajouter un allergen</a></td>
        </tr>
        <tr>
            <td colspan="2"><a class="btn btn-danger" href="{{ "/" }}">Retour</a></td>
        </tr>
    </table>

{% endblock %}
