{% extends 'layout/layout.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>jobTitle</th>
        </thead>
        {% for user in users %}
        <tr>
            <td>
                {{ user.lastname }}
            </td>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.jobtitle }}
            </td>
        </tr>

        {% endfor %}
        <tr>
            <td colspan="4"><a class="btn btn-primary" href="{{ "/admin/equipe/inserer" }}">Ajouter</a></td>
        </tr>
        <tr>
            <td colspan="4"><a class="btn btn-danger" href="{{ "/" }}">Retour</a></td>
        </tr>
    </table>

{% endblock %}
