{% extends 'layout/layout.html.twig' %}

{% block title %}Edit Dish{% endblock %}

{% block body %}

    {{ include('dish/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('dish_index') }}">back to list</a>

    {{ include('dish/_delete_form.html.twig') }}
{% endblock %}
