{% extends 'layout/layout.html.twig' %}

{% block title %}Dish index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Calories</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
            <th>Sticky</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.id }}</td>
                <td>{{ dish.name }}</td>
                <td>{{ dish.calories }}</td>
                <td>{{ dish.price }}</td>
                <td><img width="100px" alt="" src="{{ asset('web/images/') }}{{ dish.image }}"/></td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.sticky ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('dish_show', {'id': dish.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('dish_edit', {'id': dish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('dish_new') }}">Create new</a>
{% endblock %}
