{% extends 'layout/layout.html.twig' %}

{% block title %}New Dish{% endblock %}

{% block body %}

    {{ include('dish/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('dish_index') }}">back to list</a>
{% endblock %}
