<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('web/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('web/css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ asset('web/js/script.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
<header>
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}
</header>
    {% block body %}

    {% endblock %}
<footer>
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
</footer>
</body>

