{% extends 'layout/layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>
{% endblock %}
